<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantWinForm.Properties.Settings.RestaurantDBConnectionString"
            connectionString="Data Source=studyserver.database.windows.net;Initial Catalog=RestaurantDB;Persist Security Info=True;User ID=MainUser;Password=ghbvf2GHBVF"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>